{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
</head>
<body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/estimate.css' %}">
    <br><br>
    <div class="text-black">
        <div class="black-bg">
            <br>
            <i>
                <h1 class="bg-grey rounded-pill" style=" font-size: 70px; font:bold;">Information about deck</h1><br>
          
            <br>
    
            <div class="container ">
                <strong><p  style=" font-size: 30px;">PLEASE SPECIFY THE AREA OF THE DECK</p></strong>  </i>
                <div class="form">
   

    <form method="post">
        {% csrf_token %}
    
        {{form}}
        <br><br>
        <button type="submit" class="btn btn-secondary btn-lg mx-auto d-block">Submit</button>
        </div>
    
        
    </form><i>

        
</div>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>