{% load static %}


<div class ="text">


    <p >CALL US AT</p>
<p >📞7605079385</p>
</div>

<div class= "contact ">
<div class="container ">
    
    <div class="row col-md-12">
        
        <div class="col-md-6">
            <br>
            <strong><p class="">CONTACT US</p></strong>
            <p class="">PHONE <span>7605079385</span></p>
            <p class="">EMAIL <span>leonardoq515@gmail.com</span></p>
            <br>
        </div>
        <div class="social-icons col-md-6">
            <br>
            <strong><p class="">FOLLOW US</p></strong>
            
            <a href="https://www.facebook.com/amazingdecksinseattle?mibextid=cejktS" style="margin-right: 10px; color: #000;">
    <i class="fab fa-facebook"></i>
</a>
<a href="https://instagram.com/amazingdecksinseattle?igshid=MzRlODBiNWFlZA==" style="color: #000;">
    <i class="fab fa-instagram"></i>
</a>
<!-- Replace with your Instagram icon -->
            <br>
            </div>
        <br>
    </div>
</div>
</div>

<footer class=" bg-dark text-light text-center py-2">
    &copy; 2023 AMAZING DECKS IN SEATTLE. All Rights Reserved.<a  href ="/policy"><span> Private policy</span></a>
</footer>
    