{% load static %}
<nav class="navbar  navbar-transparent">
   
  <div class="">
    <img src="{% static 'images/12.png' %}" width="50px" style="vertical-align: middle;">
    <h2 style="color:#ffc107; display: inline; margin-left: 10px;" class= "navbar-brand"><strong>AMAZING DECKS IN SEATTLE</strong></h2>
  </div>
    <div>
      <a class="navbar-brand" href="/home" style="color: #ffc107;">HOME</a>
      <a class="navbar-brand" href="/gallery" style="color: #ffc107;">GALLERY</a>
      <a class="navbar-brand" href="/schedule" style="color: #ffc107;">SCHEDULE SERVICE</a>
      <a class="navbar-brand" href="/policy" style="color: #ffc107;">PRIVACY POLICY</a>
    </div>
</nav>




  

  <!-- As a heading -->
