{% extends "app/base.html" %}
{% load static%}

{%block content %}

<img src="{% static 'images/123.jpg' %}" class="background-image loadin-animation">
<div class = "fullscreen-container">  
<div class ="overlay-text container">
<p >Elevating Outdoor Living with Our <strong>Premium</strong> Deck Services<p>
<a href= "/gallery"><button type="button" class="btn btn-light btn-lg">Explore our project gallery   </button></a>
</div>
</div>

<div class="black-bg">
    <strong><a href ="/quote"><span class="right-aligned-text">GET A FREE ESTIMATE HERE</span></a>
        
</div>
</div>



    <div class="row width">
        <!-- Left Column -->
        <div class="col-md-6">
            <strong>
                <br><br><br><br>
                <p  style="font-family: 'ADLaM Display', cursive;
                font-family: 'Cousine', monospace;
                font-family: 'Kanit', sans-serif;
                font-family: 'Oswald', sans-serif;
                font-family: 'Roboto Slab', serif; font-size: 50px; margin-bottom: 20px; color: black; margin-left: 100px;">
                    AMAZING DECKS IN SEATTLE
                </p>
            </strong></strong>
            <p style="margin-bottom: 20px; margin-left: 100px;margin-right: 100px; font-size:20px;font-family: 'ADLaM Display', cursive;
            font-family: 'Cousine', monospace;
            font-family: 'Kanit', sans-serif;
            font-family: 'Oswald', sans-serif;
            font-family: 'Roboto Slab', serif; " >
                Are you in search of a dependable construction firm for your upcoming project? Your search ends here with AMAZING DECKS IN SEATTLE! Our expertise lies in crafting low-maintenance outdoor living spaces through exceptional deck construction. Our team comprises highly proficient experts, ensuring top-tier outcomes.
                Our dedicated customer service team collaborates closely with you, guiding you through every phase, from design to construction, to ensure that we meet your specific needs and adhere to all building regulations. We also provide precise 2D and 3D project designs to offer you a comprehensive visualization of your project.We offer...
            </p>
            <ul style="list-style-type: none; margin-left: 100px;margin-right: 100px; font-size:20px;padding-left: 0;font-family: 'ADLaM Display', cursive;
            font-family: 'Cousine', monospace;
            font-family: 'Kanit', sans-serif;
            font-family: 'Oswald', sans-serif;
            font-family: 'Roboto Slab', serif;" class="text-animation-left-enter text-animation-left-enter-active">
                <!-- List items without <li> tags -->
                <li style="margin-bottom: 10px;">
                    <i class="fas fa-check-circle " ></i>
                    Crafted with Excellence
                </li>
                <li style="margin-bottom: 10px;">
                    <i class="fas fa-check-circle" ></i>
                    Premium-Quality Materials
                </li>
                <li style="margin-bottom: 10px;">
                    <i class="fas fa-check-circle" ></i>
                    Personalized Service
                </li>
                <li style="margin-bottom: 10px;">
                    <i class="fas fa-check-circle" ></i>
                    Stylish Design
                </li>
                <li style="margin-bottom: 10px;">
                    <i class="fas fa-check-circle" ></i>
                    Secure Deck Railing Solutions
                </li>
                <br><br><br>
            </ul>
        </div>
        <!-- Right Column -->
        <div class="col-md-6" style="background-color: #ccc; ">
            <strong>
                <br><br><br><br>
                <p class="about" style="font-family: 'ADLaM Display', cursive; font-family: 'Cousine', monospace; font-family: 'Kanit', sans-serif; font-family: 'Oswald', sans-serif; font-family: 'Roboto Slab', serif; font-size: 50px; margin-bottom: 20px; color: black; margin-left: 80px;">
                    WE BUILD DECKS AND RAILINGS!
                </p>
            </strong>
            <p style="margin-bottom: 20px; margin-left: 100px; margin-right: 80px; font-size: 25px; font-family: 'ADLaM Display', cursive; font-family: 'Cousine', monospace; font-family: 'Kanit', sans-serif; font-family: 'Oswald', sans-serif; font-family: 'Roboto Slab', serif;">
                We design our decks to seamlessly blend with your outdoor space, enhancing its appeal and adding a touch of delight.
            </p>
            <div style="margin-bottom: 20px; margin-left: 100px; ">
                <div class="row">
                    <div>
                        <img src="{% static 'images/1.JPG' %}"   class="scroll-animation loading-animation" width="300" height="300" style="margin-right: 50px;margin-top: 20px;">
                    </div>
                    <div>
                        <img src="{% static 'images/2.PNG' %}"  class="scroll-animation loading-animation" width="300" height="300" style="margin-right: 50px;margin-top: 20px;">
                    </div>
                </div>
                <div class="row">
                    <div>
                        <img src="{% static 'images/3.png' %}"  class="scroll-animation loading-animation" width="300" height="300" style="margin-right: 50px;margin-top: 20px;">
                    </div>
                    <div>
                        <img src="{% static 'images/4.JPG' %}"  class="scroll-animation loading-animation" alt="Image 4" width="300" height="300"style="margin-right: 50px;margin-top: 20px;">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" style="padding: 0;">
        <div class="row" style="height: 900px; background-color: #ccc;">
            <div class="col-md-4 col-xs-12" style="height: 100%;">
                <p style="margin: 100px 20px 0; font-size: 25px; font-family: 'ADLaM Display', cursive; font-family: 'Cousine', monospace; font-family: 'Kanit', sans-serif; font-family: 'Oswald', sans-serif; font-family: 'Roboto Slab', serif;">
                    Looking for a deck builder in your area? AMAZING DECKS IN SEATTLE is your go-to choice. We deliver quality craftsmanship, outstanding customer service, and competitive pricing. Explore our impressive range of projects in the portfolio below. From modern luxuries to timeless charm, Ace of Decks handles your project from start to finish.
                </p>
                <a href="/gallery" class="btn bg-light aboutss"><strong>VIEW PORTFOLIO</strong></a>
            </div>
            <div class="col-md-8 col-xs-12" style="height: 100%; padding: 0;">
                <div class="slideshow-container" style="height: 100%;">
                    <div class="slideshow-inner">
                        {% for project in projects %}
                            <img src="{{ project.primary_image.url }}" class="slideshow-image background-imagess" style="max-width: 100%; height: 100%;">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
        </div>
        <br><hr>
    <div class = "main overlay">
    
     <strong><p id="section4" style="color: goldenrod; font-size: 50px; text-align: center; position: relative;">
        TESTIMONIALS
        <span style="position: absolute; left: 0; top: 50%; width: 100%; border-top: 1px solid goldenrod; z-index: -1;"></span>
    </p></strong>
    
    
     {% comment %} <div class="introduction container">
        <p>We are a dedicated team of professionals committed to providing high-quality deck construction and remodeling services. Our portfolio showcases the many projects we have completed over the years, from rooftop terraces to small balconies. With our expertise and attention to detail, every job is completed with excellence. We take pride in giving our customers the highest level of satisfaction when it comes to deck design and construction. You can count on us for all your deck installation needs!</p>
    </div> {% endcomment %}
    <div class=" carousel">
        <div id="reviewsCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#reviewsCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#reviewsCarousel" data-slide-to="1"></li>
                <li data-target="#reviewsCarousel" data-slide-to="2"></li>
                <li data-target="#reviewsCarousel" data-slide-to="3"></li>
                <li data-target="#reviewsCarousel" data-slide-to="4"></li>
            </ul>
    
            <!-- Slides -->
            <div class="carousel-inner">
                <br><br>
                <div class="carousel-item active">
                    <p class="text-center mx-md-5" style="font-size: 30px;">
                        "Our deck looks amazing! The team at AMAZING DECKS IN SEATTLE transformed our outdoor space into a beautiful retreat. We couldn't be happier with the result."
                    </p>
                    <p class="text-right container mt-3"><em>- John D.</em></p>
                </div>
    
                <div class="carousel-item">
                    <p class="text-center mx-md-5" style="font-size: 30px;">
                        "The attention to detail in the deck construction exceeded our expectations. From design to completion, AMAZING DECKS IN SEATTLE was professional and efficient."
                    </p>
                    <p class="text-right container mt-3"><em>- Sarah M.</em></p>
                </div>
    
                <div class="carousel-item">
                    <p class="text-center mx-md-5" style="font-size: 30px;">
                        "Impressive craftsmanship! AMAZING DECKS IN SEATTLE truly understands deck remodeling. They transformed our old deck into a modern outdoor living space."
                    </p>
                    <p class="text-right container mt-3"><em>- Mark H.</em></p>
                </div>
    
                <div class="carousel-item">
                    <p class="text-center mx-md-5" style="font-size: 30px;">
                        "The ADIS team was very friendly and professional. From the design stage through the final walk-through, it was a very comfortable and enjoyable experience. We were particularly impressed with their ability to adhere to all timelines and expectations throughout the entire process. I highly recommend RDG!"
                    </p>
                    <p class="text-right container mt-3"><em>- Van M.</em></p>
                </div>
    
                <div class="carousel-item">
                    <p class="text-center mx-md-5" style="font-size: 30px;">
                        "ADIS Design blew me away at every step in the process of creating my outdoor oasis. They worked with me personally on design renderings, ideal material recommendations, and even itemized budget options to cater to my needs. The entire RDG team worked as true professionals, with impeccable attention to detail and impressive responsiveness and speed in getting the project done"
                    </p>
                    <p class="text-right container mt-3"><em>- Bruce K.</em></p>
                    <br><br>
                </div>
            </div>
    
    <br>
            <!-- Controls -->
            <a class="carousel-control-prev" href="#reviewsCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon "></span>
            </a>
            <a class="carousel-control-next" href="#reviewsCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <br>
    <br><br>
    </div>
    
    
    </div>
     </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="font-size: 20px;">
                    <strong>
                        <p class="">WHY CHOOSE <span style="color: black; font-size: 25px;">AMAZING DECKS IN SEATTLE</span></p>
                    </strong>
                    <p>Are you in search of a dependable construction firm for your upcoming project? Your search ends here with AMAZING DECKS IN SEATTLE! Our expertise lies in crafting low-maintenance outdoor living spaces through exceptional deck construction. Our team comprises highly proficient experts, ensuring top-tier outcomes.</p>
                    <p>Our dedicated customer service team collaborates closely with you, guiding you through every phase, from design to construction, to ensure that we meet your specific needs and adhere to all building regulations.</p>
                    <ul style="list-style-type: none; font-size: 20px;">
                        <!-- List items without <li> tags -->
                        <li style="margin-bottom: 10px;">
                            <i class="fas fa-check-circle" style="color: gold;"></i>
                            Delightful Service
                        </li>
                        <li style="margin-bottom: 10px;">
                            <i class="fas fa-check-circle" style="color: gold;"></i>
                            Safety Focus
                        </li>
                        <li style="margin-bottom: 10px;">
                            <i class="fas fa-check-circle" style="color: gold;"></i>
                            Curb Appeal Enhancement
                        </li>
                        <li style="margin-bottom: 10px;">
                            <i class="fas fa-check-circle" style="color: gold;"></i>
                            Affordable Elegance
                        </li>
                        <li style="margin-bottom: 10px;">
                            <i class="fas fa-check-circle" style="color: gold;"></i>
                            Efficient Timelines
                        </li>
                        <li style="margin-bottom: 10px;">
                            <i class="fas fa-check-circle" style="color: gold;"></i>
                            Space Transformation
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
        <div>
            <img src="{% static 'images/DJI_0009.JPG' %}" alt="Image 4" class="scroll-animation loading-animation img-responsive" data-animation="grow" style="max-width: 100%; height: auto; margin-right: 50px; margin-top: 20px;">
        </div>
    </div>
        </div>
    </div>
    
              
{% comment %}                   
            <p class = "ma"><span> ✔  </span><span></span>  <span style="color:black; font-size:20px;">Delightful Service</span> Exceptional customer care from consultation to installation<p>
            <p class = "ma"><span> ✔  </span><span></span>  <span style="color:black; font-size:20px;">Safety Focus</span> Prioritize safety with secure railings<p>
               
           
            <p class = "ma"><span> ✔  </span><span></span>  <span style="color:black; font-size:20px;">Curb Appeal Enhancement</span> Elevate home aesthetics<p>
             
            <p class = "ma"><span> ✔  </span><span></span>  <span style="color:black; font-size:20px;">Affordable Elegance</span> Premium railings at competitive prices<p>
                 
            <p class = "ma"><span> ✔  </span><span></span>  <span style="color:black; font-size:20px;">Efficient Timelines</span> Punctual installations for minimal disruption<p>
                   
            <p class = "ma"><span> ✔  </span><span></span>  <span style="color:black; font-size:20px;">Space Transformation</span> Create memorable outdoor havens effortlessly<p> {% endcomment %}
                
    
    <hr><br>
</div>

    {%endblock%}

    